.details
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-gap: 1rem
    grid-template-areas: "name name" "image specs" "description description"
    padding: 1rem
    &__container
        display: flex
        justify-content: center
        align-items: center
    &__name
        grid-area: name
    &__image-container
        grid-area: image
        display: flex
    &__image
        width: 100%
        height: auto
        object-fit: contain
    &__specs-list
        grid-area: specs
        justify-content: center
    &__description-container
        grid-area: description
    &__description-title
        font-size: 1.5rem
        font-weight: 400
        margin-bottom: .5rem


@media screen and ( min-width: 1024px )
    .details
        grid-template-columns: repeat(4, 1fr)
        grid-template-areas: "name name name name" "image specs specs specs" "image description description ."